{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 41.6832,
        "longitude": 2.2822,
        "elevation": 252,
        "unit_system": "metric",
        "location_name": "Can Marla",
        "time_zone": "Europe/Madrid",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}